<span class='point' id="point<%=point.id%>">
    &nbsp;
    <span class='label label-success label-90'>
        <%= point.description %>
        <%=link_to '&#10006;'.html_safe, itinerary_point_path(itinerary, point), remote: true, method: :delete, class: 'red-cross' %>
    </span>
</span>
