
<div id="ry4ApEskHmd4cTycm7uvWcrCFV73dcZ3" class="widget widget-section">
  <% if user_signed_in? %>
    <%= current_user.email %>
    <a class='button'
    <%= link_to 'Выйти', destroy_user_session_path, method: 'delete' %>
    </a>
  <% else%>
  <a href='/users/sign_in' class='button'
    <%= link_to 'Войти', new_user_session_path, method: 'get' %>
    </a>
   <a href= '/users/sign_up' class ='button'
    <%= link_to 'Зарегистрироваться', new_user_registration_path %>
    </a>
  <% end %>
</div>

  <div class='map-wrap'>
    <div id="map-canvas" style='height: inherit;'></div>
  </div>

