.navbar.navbar-custom.navbar-fixed-top
  .navbar-header
    %a.navbar-brand{href: "#"} Travel
    %a.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  .navbar-collapse.collapse
    %ul.nav.navbar-nav
      %li
        = link_to 'Домашняя страница', root_url
      %li
        = link_to 'Маршруты', itineraries_url
    %ul.nav.navbar-nav.navbar-right
      %li
        = link_to current_user.try(:email), '#'
      %li
        = link_to 'Выйти', destroy_user_session_path, method: 'delete'
