
<script>
window.gmap_points = <%= raw@hash.to_json %>
</script>

<div class='row' id='points-wrap'>
  <% @points.each do |point| %>
    <%= render 'points/point', point: point, itinerary: @itinerary %>  
  <% end %>
</div>

<script>
$( "#pointbot" ).click (function() {
  $('info').slideToggle();
	
//   google.maps.event.addListener(point, '#pointbot', function() {
//   	map.setZoom(8)
//   	map.setCenter(current_point.getPosition)
//   })
// });
</script>