.social
  %a{alt: "vk", href: "http://vk.com/livetravel58"}
    = image_tag("vk.png", class: 'vk')
  %a{alt: "fb", href: "https://www.facebook.com/groups/livetravel58/"}
    = image_tag("fb.jpg", class: 'fb')

