// Place all the styles related to the Points controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.map-wrap {
  width: 800px;
  margin: 0 auto;
  height: 800px;
  margin: 0;
}

#map-canvas {
  width: 800px;
  height: 400px;
}
